.my-center{
    position: absolute;
    top: 25%;
}

.card{
    width: 500px;
}

.icon{
    width: 150px;
    height: 150px;
    border: solid #676767 5px;
    background-color: #676767;
    border-radius: 100px;
}

.text-card{
    width: 200px;
    font-size: 30px;
}

.card-null{
    background-color: unset;
    border: unset;
}

.alert{
    right: 0;
}